body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FDFBD4;
    color: #05472A;
}

header {
    background-color: #008080;
    color: #FDFBD4;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.tabs {
    display: flex;
    background-color: #05472A;
}

.tab-button {
    flex: 1;
    padding: 1rem;
    background: #05472A;
    color: #FDFBD4;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #008080;
}

.tab-button.active {
    background-color: #008080;
    color: #FDFBD4;
}

.tab-content {
    display: none;
    padding: 0.5rem 1rem;
    background-color: #FDFBD4;
    min-height: 600px;
    color: #05472A;
}

/* Mostrar contenido activo */
.tab-content.active {
    display: block;
}

/* Subpestañas */
.subtabs {
    display: flex;
    background-color: #008080;
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

.subtab-button {
    flex: 1;
    padding: 0.5rem 0.75rem;
    background: #00a0a0;
    color: #FDFBD4;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
    white-space: nowrap;
    margin-left: 4px;
    border-radius: 3px;
}

.subtab-button:first-child {
    margin-left: 0;
}

.subtab-button:hover {
    background-color: #05472A;
}

.subtab-button.active {
    background-color: #05472A;
    color: #FDFBD4;
}

/* Subcontenido de cada subpestaña */
.subtab-content {
    display: none;
    padding: 0;
    height: 500px;
}

.subtab-content.active {
    display: block;
}